<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'noticiasId'}); %>

  <body>
    <%- include("../../partialViews/header"); %> 
    <%- include("../../partialViews/navbar", {activeNavItem: 'Publicacoes-Noticias'}); %>

    <div class="row">
      
      <div class="col-7 border border-2 rounded-3 ms-5 my-5 p-2" style="background-color: #E9E9E9;">
        <div class="my-3 pt-4 d-flex justify-content-center">
          <img src="\<%=news.image%>" style="height: 25rem; width: 25rem" />
        </div>
        <div class="p-5"><%- news.content %></div>
      </div>

      <div class="col-4">
        <h1 class="text-center pt-3">Últimas noticias</h1>
        <div class="list-group p-5 pt-1">
          <% for(var i=0; i < lastedNews.length; i++) {%>
          <a
            href="/user/news/<%=lastedNews[i].id %>"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= lastedNews[i].title %></h5>
            </div>
            <small class="mb-1">
              <%=new Date(lastedNews[i].createdAt).toLocaleDateString('pt-BR', {
              timeZone: 'UTC' }) %>
            </small>
          </a>
          <% }%>
        </div>
      </div>
    </div>

    <%- include("../../partialViews/footer"); %>
    
    <script src="/script/user/global/global.js"></script>
  </body>
</html>
