<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'secretarias'}); %>

  <body>
    <%- include("../../partialViews/toastNotifications"); %> <%-
    include("../../partialViews/spinner"); %>

    <div
      class="container-fluid"
      style="background-color: var(--secondary-color)"
    >
      <div class="row">
        <div class="col-3">
          <%- include("../../partialViews/adminNavbar", { activeNavItem:
          'Secretarias' })%>
        </div>
        <!-- CONTENT PAGE -->
        <div class="col-9" style="background-color: var(--background-color)">
          <div class="row mx-4 mb-4 p-3 pt-0 mt-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Pesquisar"
                aria-label="Pesquisar"
                aria-describedby="button-addon2"
              />
              <a
                href="/admin/addSecretaria"
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#addSecretariaModal"
              >
                <img
                  title="Abrir documento principal"
                  src="/icons/file-earmark-plus-fill.svg"
                  alt="Arquivo PDF"
                  height="20rem"
                />
                Cadastrar nova secretaria
              </a>
            </div>
          </div>

          <!--TABLE-->
          <div
            class="card m-5 mt-0 d-flex justify-content"
            style="border-style: solid; border-color: var(--secondary-color)"
          >
            <div
              class="card-header"
              style="background-color: var(--secondary-color); color: white"
            >
              <div class="row">
                <div class="col-12">
                  <h3>Secretarias</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table id="obrasTable" class="table table-bordered">
                <thead
                  class="table"
                  style="background-color: var(--secondary-color); color: white"
                >
                  <tr>
                    <th class="col-3" scope="col">CNPJ</th>
                    <th class="col-1" scope="col">TELEFONE(S)</th>
                    <th class="col-3" scope="col">E-MAIL</th>
                    <th class="col-1" scope="col">HORARIO FUNC.</th>
                    <th class="col-2" scope="col">ENDEREÇO</th>
                    <th class="col-2" scope="col">ACOES</th>
                  </tr>
                </thead>
                <tbody style="color: var(--secondary-color) color">
                  <% for(var i=0; i < secretaria.length; i++) {%>
                  <tr id="secretariaIdItem_<%=secretaria[i].id %>">
                    <th scope="row"><%=secretaria[i].cnpj%></th>
                    <th scope="row"><%=secretaria[i].telefone%></th>
                    <th scope="row"><%=secretaria[i].email%></th>
                    <th scope="row"><%=secretaria[i].horario%></th>
                    <th scope="row"><%=secretaria[i].endereco%></th>
                    <th scope="row">
                      <a
                        href="/admin/editSecretaria/<%=secretaria[i].id%>"
                        style="text-decoration: none"
                      >
                        <img
                          title="Editar secretaria"
                          src="/icons/pencil-fill.svg"
                          alt="Editar obra"
                          height="20rem"
                        />
                      </a>
                      &nbsp;
                      <span
                        style="text-decoration: none; cursor: pointer"
                        onClick="setIdForRemoveSecretaria('<%=secretaria[i].id %>')"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                      >
                        <img
                          title="Excluir secretaria"
                          src="/icons/x-circle-fill.svg"
                          alt="Excluir obra"
                          height="20rem"
                        />
                      </span>
                    </th>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Modal DELETE SECRETARIA-->
          <div
            class="modal fade"
            id="deleteModal"
            tabindex="-1"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Excluir Secretaria
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Deseja realmente excluir essa Secretaria?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Fechar
                  </button>
                  <a
                    href="#"
                    id="btnDeleteModal"
                    type="button"
                    class="btn btn-danger"
                    >Excluir</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Modal ADD OBRA-->
          <div
            class="modal fade"
            id="addSecretariaModal"
            tabindex="-1"
            aria-labelledby="AddSecretariaLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="AddSecretariaLabel">
                    Cadastrar Secretaria
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    id="secretariaForm"
                    class="needs-validation"
                    enctype="multipart/form-data"
                  >
                    <div class="mb-1">
                      <div class="row">
                        <div>
                          <label for="cnpj" class="col-form-label">CNPJ:</label>
                          <input
                            name="cnpj"
                            required
                            type="text"
                            class="form-control"
                            id="cnpj"
                          />
                        </div>
                        <div>
                          <label for="telefone" class="col-form-label"
                            >Telefone(s):</label
                          >
                          <input
                            name="telefone"
                            required
                            type="text"
                            class="form-control"
                            id="telefone"
                          />
                        </div>
                        <div>
                          <label for="email" class="col-form-label"
                            >E-mail:</label
                          >
                          <input
                            name="email"
                            required
                            type="email"
                            class="form-control"
                            id="email"
                          />
                        </div>
                        <div>
                          <label for="horario" class="col-form-label"
                            >Horario de funcionamento:</label
                          >
                          <input
                            name="horario"
                            required
                            type="text"
                            class="form-control"
                            id="horario"
                          />
                        </div>
                        <div>
                          <label for="endereco" class="col-form-label"
                            >Endereco:</label
                          >
                          <input
                            name="endereco"
                            required
                            type="text"
                            class="form-control"
                            id="endereco"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Fechar
                      </button>
                      <button
                        id="btnSubmit"
                        type="submit"
                        class="btn btn-success"
                      >
                        Cadastrar nova secretaria
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/script/admin/global/global.js"></script>
    <script src="/script/admin/secretarias/secretarias.js"></script>
  </body>
</html>
