<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'secretariaId'}); %>

  <body>
    <%- include("../../partialViews/toastNotifications"); %> <%-
    include("../../partialViews/spinner"); %>

    <div
      class="container-fluid"
      style="background-color: var(--secondary-color)"
    >
      <div class="row">
        <div class="col-3">
          <%- include("../../partialViews/adminNavbar", { activeNavItem:
          'Secretarias' })%>
        </div>
        <!-- CONTENT PAGE -->
        <div class="col-9" style="background-color: var(--background-color)">
          <div
            class="card text-center m-5 mb-0 d-flex justify-content-center"
            style="border-style: solid; border-color: var(--secondary-color)"
          >
            <div
              class="card-header"
              style="background-color: var(--secondary-color); color: white"
            >
              <div class="row">
                <div class="col-12">
                  <h3>EDIÇÃO DE SECRETARIO N tal tal</h3>
                </div>
              </div>
            </div>
          </div>
          <input id="secretarioId" value="<%=secretario.id%>" hidden />
          <nav class="navMedicoes shadow-sm mx-5">
            <div
              class="nav nav-tabs"
              id="nav-tab"
              role="tablist"
              style="
                background-color: var(--secondary-color);
                color: white;
                border-radius: 5px 5px 0px 0px;
              "
            ></div>
            <div
              class="tab-content"
              id="nav-tabContent"
              style="background-color: #f6f6f6; border-radius: 0px 0px 5px 5px"
            >
              <!-- MEDICOES -->
              <div
                class="tab-pane fade show active"
                id="nav-infoSessoes"
                role="tabpanel"
                aria-labelledby="nav-infoSessoes-tab"
              >
                <div class="p-5">
                  <h4 class="fw-bold">Editar informações do secretario:</h4>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold">NOME:</label>
                    <div class="col-10">
                      <input
                        id="secretarioNome"
                        class="form-control"
                        type="text"
                        value="<%=secretario.nome ? secretario.nome : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretarioNome">
                        <img
                          class="secretarioBtnEdit"
                          title="Editar nome do secretario"
                          src="/icons/pencil-fill.svg"
                          alt="Editar nome do secretario"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold">CARGO:</label>
                    <div class="col-10">
                      <input
                        id="secretarioCargo"
                        class="form-control"
                        type="text"
                        value="<%=secretario.cargo ? secretario.cargo : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretarioCargo">
                        <img
                          class="secretarioBtnEdit"
                          title="Editar cargo do secretario"
                          src="/icons/pencil-fill.svg"
                          alt="Editar cargo do secretario"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >TIPO NOMEACAO:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretarioTipoNomeacao"
                        class="form-control"
                        type="text"
                        value="<%=secretario.tipoNomeacao ? secretario.tipoNomeacao : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretarioTipoNomeacao">
                        <img
                          class="secretarioBtnEdit"
                          title="Editar nomeacao do secretario"
                          src="/icons/pencil-fill.svg"
                          alt="Editar nomeacao do secretario"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >NUMERO ATO:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretarioNumeroAto"
                        class="form-control"
                        type="text"
                        value="<%=secretario.numeroAto ? secretario.numeroAto : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretarioNumeroAto">
                        <img
                          class="secretarioBtnEdit"
                          title="Editar numero do ato de nomeacao"
                          src="/icons/pencil-fill.svg"
                          alt="Editar numero do ato de nomeacao"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold">DATA:</label>
                    <div class="col-10">
                      <input
                        id="secretarioData"
                        class="form-control"
                        type="date"
                        value="<%=secretario.data ? secretario.data : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretarioData">
                        <img
                          class="secretarioBtnEdit"
                          title="Editar data de nomeacao"
                          src="/icons/pencil-fill.svg"
                          alt="Editar data de nomeacao"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >MATRICULA:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretarioMatricula"
                        class="form-control"
                        type="text"
                        value="<%=secretario.matricula ? secretario.matricula : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretarioMatricula">
                        <img
                          class="secretarioBtnEdit"
                          title="Editar matricula do secretario"
                          src="/icons/pencil-fill.svg"
                          alt="Editar matricula do secretario"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <div class="row p-5 pt-0 m-3 mt-2">
            <div class="col-8"></div>
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-danger m-0 me-3">
                Cancelar edição
              </button>
              <button
                id="btnSendRequest"
                type="button"
                class="btn btn-success m-0"
              >
                <img
                  title="Abrir documento principal"
                  src="/icons/send-fill.svg"
                  alt="Arquivo PDF"
                  height="20rem"
                />
                Salvar alterações
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/script/admin/secretarias/secretarioIdPage.js"></script>

    <style>
      .nav-tabs .item-nav-tab {
        color: white;
        border: none;
      }

      .nav-tabs .nav-link.active {
        background-color: var(--primary-color);
        color: white;
        border: none;
      }

      .nav-tabs .item-nav-tab:hover {
        background-color: var(--primary-color);
        border: none;
      }

      nav .navSecretario {
        border: none;
      }
    </style>
  </body>
</html>
