<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'obrasId' }); %>

  <body>
    <%- include("../../partialViews/toastNotifications"); %> <%-
    include("../../partialViews/spinner"); %>

    <div
      class="container-fluid"
      style="background-color: var(--secondary-color)"
    >
      <div class="row">
        <div class="col-3">
          <%- include("../../partialViews/adminNavbar", { activeNavItem: 'Obras'
          })%>
        </div>
        <!-- CONTENT PAGE -->
        <div class="col-9" style="background-color: var(--background-color)">
          <div
            class="card text-center m-5 mb-0 d-flex justify-content-center"
            style="border-style: solid; border-color: var(--secondary-color)"
          >
            <div
              class="card-header"
              style="background-color: var(--secondary-color); color: white"
            >
              <div class="row">
                <div class="col-12">
                  <h3>EDIÇÃO DE SECRETARIA</h3>
                </div>
              </div>
            </div>
          </div>
          <nav class="navSecretaria shadow-sm mx-5">
            <div
              class="nav nav-tabs"
              id="nav-tab"
              role="tablist"
              style="
                background-color: var(--secondary-color);
                color: white;
                border-radius: 5px 5px 0px 0px;
              "
            >
              <button
                class="nav-link active item-nav-tab"
                id="nav-infoSecretaria-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-infoSecretaria"
                type="button"
                role="tab"
                aria-controls="nav-infoSecretaria"
                aria-selected="true"
              >
                Informações da secretaria
              </button>
              <button
                class="nav-link item-nav-tab"
                id="nav-secretario-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-secretario"
                type="button"
                role="tab"
                aria-controls="nav-secretario"
                aria-selected="false"
              >
                Secretarios
              </button>
            </div>
            <div
              class="tab-content"
              id="nav-tabContent"
              style="background-color: #f6f6f6; border-radius: 0px 0px 5px 5px"
            >
              <!-- SECRETARIA -->
              <div
                class="tab-pane fade show active"
                id="nav-infoSecretaria"
                role="tabpanel"
                aria-labelledby="nav-infoSecretaria-tab"
              >
                <div class="p-5">
                  <h4 class="fw-bold">Editar informações da secretaria:</h4>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold">CNPJ:</label>
                    <div class="col-10">
                      <input
                        id="secretariaCnpj"
                        class="form-control"
                        type="text"
                        value="<%=secretaria.cnpj ? secretaria.cnpj : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretariaCnpj">
                        <img
                          class="secretariaBtnEdit"
                          title="Editar CNPJ da secretaria"
                          src="/icons/pencil-fill.svg"
                          alt="Editar CNPJ da secretaria"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >TELEFONE:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretariaTelefone"
                        class="form-control"
                        type="text"
                        value="<%=secretaria.telefone ? secretaria.telefone : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretariaTelefone">
                        <img
                          class="secretariaBtnEdit"
                          title="Editar telefone da secretaria"
                          src="/icons/pencil-fill.svg"
                          alt="Editar telefone da secretaria"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >E-MAIL:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretariaEmail"
                        class="form-control"
                        type="text"
                        value="<%=secretaria.email ? secretaria.email : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretariaEmail">
                        <img
                          class="secretariaBtnEdit"
                          title="Editar e-mail da secretaria"
                          src="/icons/pencil-fill.svg"
                          alt="Editar e-mail da secretaria"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >HORARIO:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretariaHorario"
                        class="form-control"
                        type="text"
                        value="<%=secretaria.horario ? secretaria.horario : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretariaHorario">
                        <img
                          class="secretariaBtnEdit"
                          title="Editar horario da secretaria"
                          src="/icons/pencil-fill.svg"
                          alt="Editar horario da secretaria"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <label for="floatingTextarea" class="fw-bold"
                      >ENDERECO:</label
                    >
                    <div class="col-10">
                      <input
                        id="secretariaEndereco"
                        class="form-control"
                        type="text"
                        value="<%=secretaria.endereco ? secretaria.endereco : null%>"
                        aria-label="Disabled input example"
                        disabled
                        readonly
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" id="editSecretariaEndereco">
                        <img
                          class="secretariaBtnEdit"
                          title="Editar endereco da secretaria"
                          src="/icons/pencil-fill.svg"
                          alt="Editar endereco da secretaria"
                          height="20rem"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- MEDICOES -->
              <div
                class="tab-pane fade"
                id="nav-secretario"
                role="tabpanel"
                aria-labelledby="nav-secretario-tab"
              >
                <div class="p-5">
                  <h4 class="fw-bold">Secretarios:</h4>
                  <table
                    id="medicaoTable"
                    class="table table-bordered table-striped"
                    style="border-radius: 10px; overflow: hidden"
                  >
                    <thead
                      class="table"
                      style="
                        background-color: var(--secondary-color);
                        color: white;
                      "
                    >
                      <tr>
                        <th class="col-1" scope="col">Nome</th>
                        <th class="col-1" scope="col">Cargo</th>
                        <th class="col-1" scope="col">Tipo nomeacao</th>
                        <th class="col-2" scope="col">Numero ato</th>
                        <th class="col-3" scope="col">Data</th>
                        <th class="col-2" scope="col">Matricula</th>
                        <th class="col-2" scope="col">Acoes</th>
                      </tr>
                    </thead>
                    <tbody style="color: var(--secondary-color) color">
                      <% for(var i=0; i < secretaria.Secretarios.length; i++)
                      {%>
                      <tr
                        id="secretarioIdItem_<%=secretaria.Secretarios[i].id %>"
                      >
                        <td><%= secretaria.Secretarios[i].nome %></td>
                        <td><%= secretaria.Secretarios[i].cargo %></td>
                        <td><%= secretaria.Secretarios[i].tipoNomeacao %></td>
                        <td><%= secretaria.Secretarios[i].numeroAto %></td>
                        <td>
                          <%- include("../../partialViews/formatDate", {date:
                          secretaria.Secretarios[i].dataMedicao}); %>
                        </td>
                        <td><%= secretaria.Secretarios[i].matricula %></td>
                        <td>
                          <span
                            data-bs-toggle="modal"
                            data-bs-target="#confirmRedirectModal"
                            onclick="setIdForRedirectModal('<%=secretaria.Secretarios[i].id %>')"
                            style="cursor: pointer"
                          >
                            <img
                              title="Editar secretario"
                              src="/icons/pencil-fill.svg"
                              alt="Editar secretario"
                              height="20rem"
                            />
                          </span>
                          <span
                            style="text-decoration: none; cursor: pointer"
                            onClick="setIdForRemoveSecretario('<%=secretaria.Secretarios[i].id %>')"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                          >
                            <img
                              title="Excluir sessão"
                              src="/icons/x-circle-fill.svg"
                              alt="Excluir obra"
                              height="20rem"
                            />
                          </span>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <div class="justify-content-end">
                    <button
                      type="button"
                      class="btn btn-success m-0"
                      data-bs-toggle="modal"
                      data-bs-target="#addSecretarioModal"
                    >
                      <img
                        src="/icons/plus-circle-fill.svg"
                        alt="Arquivo PDF"
                        height="20rem"
                      />
                      &nbsp; Adicionar nova secretario
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <div class="row p-5 pt-0 m-3 mt-2">
            <div class="col-8"></div>
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-danger m-0 me-3">
                Cancelar edição
              </button>
              <button
                id="btnSendRequest"
                type="button"
                class="btn btn-success m-0"
              >
                <img
                  title="Abrir documento principal"
                  src="/icons/send-fill.svg"
                  alt="Arquivo PDF"
                  height="20rem"
                />
                Salvar alterações
              </button>
            </div>
          </div>
          <!-- Modal PARA CONFIRMAR REDIRECIONAMENTO-->
          <div
            class="modal fade"
            id="confirmRedirectModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="confirmRedirectLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmRedirectLabel">
                    Lembrete para salvar alterações
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Ao selecionar a opção de "Editar Secretario" você será
                  redirecionado para outra pagina, certifique-se de que as
                  alterações que foram feitas foram salvas, caso contrário
                  salve-as primeiro para não perder as suas modificações.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Fechar
                  </button>
                  <a
                    id="btnConfirmRedirect"
                    type="button"
                    class="btn btn-primary"
                    >Editar secretario</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!--MODAL ADD MEDICAO-->
          <div
            class="modal fade"
            id="addSecretarioModal"
            tabindex="-1"
            aria-labelledby="AddSecretarioLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="AddSecretarioLabel">
                    Adicionar Secretario
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    id="addSecretarioForm"
                    class="needs-validation"
                    action="/admin/addSecretario"
                    method="POST"
                  >
                    <input
                      id="secretariaId"
                      type="text"
                      value="<%=secretaria.id%>"
                      hidden
                    />
                    <div class="mb-1">
                      <div class="row">
                        <div class="col-12">
                          <label for="nome" class="col-form-label">Nome:</label>
                          <input
                            name="nome"
                            required
                            type="text"
                            class="form-control"
                            id="nome"
                          />
                        </div>
                        <div class="col-12">
                          <label for="cargo" class="col-form-label"
                            >Cargo:</label
                          >
                          <input
                            id="cargo"
                            required
                            name="cargo"
                            class="form-control"
                            type="text"
                          />
                        </div>
                        <div class="col-12">
                          <label for="tipoNomeacao" class="col-form-label"
                            >Tipo de nomeacao:</label
                          >
                          <input
                            name="tipoNomeacao"
                            required
                            type="text"
                            class="form-control"
                            id="tipoNomeacao"
                          />
                        </div>
                        <div class="col-12">
                          <label for="numeroAto" class="col-form-label"
                            >Numero ato:</label
                          >
                          <input
                            name="numeroAto"
                            required
                            type="text"
                            class="form-control"
                            id="numeroAto"
                          />
                        </div>
                        <div class="col-12">
                          <label for="data" class="col-form-label">Data:</label>
                          <input
                            name="data"
                            required
                            type="date"
                            class="form-control"
                            id="data"
                          />
                        </div>
                        <div class="col-12">
                          <label for="matricula" class="col-form-label"
                            >Matricula:</label
                          >
                          <input
                            name="matricula"
                            required
                            type="text"
                            class="form-control"
                            id="matricula"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Fechar
                      </button>
                      <button type="submit" class="btn btn-success">
                        Adicionar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal DELETE MEDICAO-->
          <div
            class="modal fade"
            id="deleteModal"
            tabindex="-1"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Remover Matéria
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Realmente deseja excluir esta Matéria?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Fechar
                  </button>
                  <a
                    href="#"
                    id="btnDeleteModal"
                    type="button"
                    class="btn btn-danger"
                    >Excluir</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/script/admin/secretarias/secretariasIdPage.js"></script>

    <style>
      .nav-tabs .item-nav-tab {
        color: white;
        border: none;
      }

      .nav-tabs .nav-link.active {
        background-color: var(--primary-color);
        color: white;
        border: none;
      }

      .nav-tabs .item-nav-tab:hover {
        background-color: var(--primary-color);
        border: none;
      }

      nav .navSecretaria {
        border: none;
      }
    </style>
  </body>
</html>
