<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'pestacaoCantas'}); %> 

  <body>
    <%- include("../../partialViews/toastNotifications"); %>
    <%- include("../../partialViews/spinner"); %> 

    <div class="container-fluid" style="background-color: var(--secondary-color);">
      <div class="row">
        <div class="col-3">
          <%- include("../../partialViews/adminNavbar", { activeNavItem: 'Prestação de Contas' })%>
        </div>
        <!-- CONTENT PAGE -->
        <div class="col-9" style="background-color: var(--background-color);">

          <div class="row mx-4 mb-4 p-3 pt-0 mt-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar"
                aria-describedby="button-addon2">

              <a href="#" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPrestacaoContasModal">
                <img title="Abrir documento principal" src="/icons/file-earmark-plus-fill.svg" alt="Arquivo PDF" height="20rem">
                Cadastrar Prestação de contas
              </a>
            </div>
          </div>
      
          <!--TABLE-->
          <div class="card m-5 mt-0 d-flex justify-content" style="border-style: solid; border-color: var(--secondary-color)">
            <div class="card-header" style="background-color: var(--secondary-color); color: white">
              <div class="row">
                <div class="col-12">
                  <h3>Prestação de Contas de Gestão</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table id="prestacaoContasTable" class="table table-bordered">
                <thead class="table" style="background-color: var(--secondary-color); color: white">
                  <tr>
                    <th class="col-2" scope="col">Período</th>
                    <th class="col-4" scope="col">Descrição</th>
                    <th class="col-4" scope="col">Vereador</th>
                    <th class="col-1" scope="col">Visualizar</th>
                    <th class="col-1" scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody style="color: var(--secondary-color) color">
                  <% for(var i=0; i < prestacaoContas.length; i++) {%>
                    <tr id="prestacaoContasIdItem_<%= prestacaoContas[i].id %>">
                      <th scope="row">
                        <%= prestacaoContas[i].Initdate ? new Date(prestacaoContas[i].Initdate).toLocaleDateString('pt-BR', { timeZone: 'UTC' }) : null %>
                        -
                        <%= prestacaoContas[i].Finaldate ? new Date(prestacaoContas[i].Finaldate).toLocaleDateString('pt-BR', { timeZone: 'UTC' }) : null %>
                      </th>
                      <th scope="row">
                        <%=prestacaoContas[i].description%>
                      </th>
                      <th scope="row">
                        <%=prestacaoContas[i].Parlamentar ? prestacaoContas[i].Parlamentar.name : null%>
                        (<%=prestacaoContas[i].Parlamentar ? prestacaoContas[i].Parlamentar.nickname : null%>)
                      </th>
                      <th scope="row">
                        <a href="/<%=prestacaoContas[i].path %>" target="_blank">
                          <img title="Abrir arquivo" src="/icons/pdf-icon.svg" alt="Arquivo PDF" height="20rem" />
                        </a>
                      </th>
                      <th scope="row">
                        <span style="text-decoration: none; cursor: pointer;" onclick="setIdForRemovePrestacaoContas('<%=prestacaoContas[i].id %>')" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <img class="licitacaoBtnEdit" title="Remover item" src="/icons/x-circle-fill.svg" alt="Remover item" height="20rem"> 
                        </span>
                      </th>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
      
          <!-- Modal DELETE PRESTAÇÃO DE CONTAS-->
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Excluir Prestação de contas</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      Realmente deseja excluir esta Prestação de contas?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <a href="#" id="btnDeleteModal" type="button" class="btn btn-danger">Excluir</a>
                  </div>
                  </div>
              </div>
          </div>
      
          <!-- Modal ADD PRESTAÇÃO DE CONTAS-->
          <div class="modal fade" id="addPrestacaoContasModal" tabindex="-1" aria-labelledby="addPrestacaoContasLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="addPrestacaoContasLabel">Cadastrar Prestação de contas</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form id="prestacaoContasForm" class="needs-validation" enctype="multipart/form-data">
                              <h5 class="mt-3">Selecione um arquivo em formato PDF</h5>
                              <div class="input-group my-3">
                                <input class="form-control" required type="file" name="pdfFile" class="form-control">
                              </div>
                              <div class="mb-1">
                                  <div class="row">
                                      <div class="col-6">
                                        <label for="InitialDate" class="col-form-label">Data inicial:</label>
                                        <input name="InitialDate" required type="date" class="form-control" id="InitialDate"/>
                                      </div>
                                      <div class="col-6">
                                        <label for="FinalDate" class="col-form-label">Data final:</label>
                                        <input name="FinalDate" required type="date" class="form-control" id="FinalDate"/>
                                      </div>
                                      <div>
                                        <label for="parlamentarId" class="col-form-label">Parlamentar:</label>
                                        <select name="parlamentarId" class="form-select" aria-label=".form-select-sm" id="parlamentarId">
                                          <option value="" selected>selecione</option>
                                          <% for(var i=0; i < parlamentares.length; i++) {%>
                                            <option value="<%=parlamentares[i].id%>" ><%=parlamentares[i].name%> - (<%=parlamentares[i].nickname%>)</option>
                                          <% } %>
                                        </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                  <button id="btnSubmit" type="submit" class="btn btn-success">Cadastrar prestação de contas</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      
        </div>
      </div>
    </div>

    <script src="/script/admin/global/global.js"></script>
    <script src="/script/admin/prestacaoContas/prestacaoContas.js"></script>
  </body>
</html>
