<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'obras'}); %>

  <body>
    <%- include("../../partialViews/header"); %> <%-
    include("../../partialViews/navbar", { activeNavItem: "Transparencia-Obras"
    }); %>

    <div class="px-5">
      <div
        class="row mx-5 mb-3 pt-0 mt-4 shadow-sm"
        style="background-color: #ebebeb; border-radius: 8px"
      >
        <!-- FILTROS -->
        <div class="container-fluid">
          <div class="row mx-0">
            <div class="col-12 p-5 d-flex justify-content-end">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Pesquisar"
                  aria-label="Pesquisar"
                  aria-describedby="button-addon2"
                />

                <button
                  class="btn btn-outline-primary"
                  type="button"
                  id="button-addon2"
                >
                  <img
                    class="search"
                    src="/img/search.svg"
                    alt=""
                    style="height: 23px"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--TABLE-->
        <div class="container-fluid">
          <div
            class="card text-center m-5 mt-0 d-flex justify-content-center"
            style="border-style: solid; border-color: var(--secondary-color)"
          >
            <div
              class="card-header"
              style="background-color: var(--secondary-color); color: white"
            >
              <div class="row">
                <div class="col-12">
                  <h3>Lista de Obras</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead
                  class="table"
                  style="background-color: var(--secondary-color); color: white"
                >
                  <tr>
                    <th class="col-2" scope="col">Data andamento</th>
                    <th class="col-2" scope="col">Secretaria/Objeto</th>
                    <th class="col-3" scope="col">Tipo/Local Obra</th>
                    <th class="col-2" scope="col">Valor total (R$)</th>
                    <th class="col-2" scope="col">Total medição (R$)</th>
                    <th class="col-1" scope="col">Percentual (%)</th>
                    <th class="col-1" scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody style="color: var(--secondary-color) color">
                  <% for(var i=0; i < obras.length; i++) {%>
                  <tr>
                    <th scope="row"><%=obras[i].dataAndamento%></th>
                    <th scope="row">
                      <p><%=obras[i].secretaria%></p>
                      <p><%=obras[i].objeto%></p>
                    </th>
                    <th scope="row">
                      <p><%=obras[i].tipo%></p>
                      <p><%=obras[i].localExecucao%></p>
                    </th>
                    <th scope="row"><%=obras[i].valorTotal%></th>
                    <th scope="row"><%=obras[i].totalMed%></th>
                    <th scope="row"><%=obras[i].percentualConcl%></th>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("../../partialViews/footer"); %>
    <script src="/script/user/global/global.js"></script>
  </body>
</html>
